# Data Science Tools and Ecosystem

This is the introduction of Tools for Data Science.

**Objectives:**
* Listing most used languahes in data science
* Depicting in a table three popular Open Source libraries for Data Science
* Representing arithmetic expressions
* Listin unordered objectives 
* Using featuresnof text such as bold front and H style

This are some of the most used languages in data science.
1. Python
2. R 
3. SQL

Some of the most popular Open Source libaries for Data Science are:  

1. NumPy
2. Pandas
3. dplyr

| Data Science Tools |
| ---- |
| Jupyter |
| R Studio |
|Apache Zeppeling |

### These are some examples of arthmetic expressions using Python.

In [4]:
#This is an  arithmetic expression to mutiply and add integers

(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60

Hours = 200 / 60
print(Hours)

3.3333333333333335

## Author ##  
Dario Enrique Piraban